<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
  <main class="container">
    <header>
      <h1>Device Metrics Dashboard</h1>
    </header>
    <!-- Live Data Section -->
    <section>
      <h2>Live Data</h2>
      <div id="devices">
        <h4>CPU usage - <span id="cpuUsage">{{ cpuUsage }}</span></h4>
        <canvas id="cpu-usage-gauge" width="400" height="200"></canvas>
        <h4>Running Threads - <span id="runningThreads">{{ threads }}</span></h4>
        <canvas id="running-threads-gauge" width="400" height="200"></canvas>
      </div>
    </section>

    <!-- Historical Data Section -->
    <h2>Historical Data</h2>     
      {% for device_name, metrics in metrics_data.items() %}
      <article>
        <h3>{{ device_name }}</h3>
          {% for metric_type_name, data_points in metrics.items() %}
          <div>
            <h4>{{ metric_type_name }}</h4>
            <canvas id="history-{{ device_name | replace(' ', '-') }}-{{ metric_type_name | replace(' ', '-') }}" width="400" height="200"></canvas>
          </div>
        {% endfor %}
      </article>
      {% endfor %}
    </section>
  </main>

  <script>
    console.log('Loading the dashboard script');
    const socket = io.connect("{{ socket_url }}");

    socket.on('metrics', (data) => {
      console.log('Received metrics data:', data);
      updateLiveData(data);
    });


    document.addEventListener('DOMContentLoaded', function() {
      console.log('DOM fully loaded and parsed');
      const metricsData = JSON.parse('{{ metrics_data | tojson | safe }}');
      console.log('Metrics data:', metricsData);

      
      
      Object.keys(metricsData).forEach((deviceName, deviceIndex) => {
        console.log(`Processing device: ${deviceName}`);
        const deviceMetrics = metricsData[deviceName];
        
        Object.keys(deviceMetrics).forEach((metricTypeName, metricIndex) => {
          console.log(`Processing metric type: ${metricTypeName}`);
          const dataPoints = deviceMetrics[metricTypeName];
          const labels = dataPoints.map((point, index) => index % 100 === 0 ? index : '');
          const ctx = document.getElementById(`history-${deviceName.replace(' ', '-')}-${metricTypeName.replace(' ', '-')}`).getContext('2d');
            new Chart(ctx, {
            type: 'line',
            data: {
              labels: labels,
              datasets: [{
              label: metricTypeName,
              data: dataPoints.map(point => point.y),
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: false,
              pointRadius: 0
              }]
            },
            options: {
              scales: {
              x: {
                beginAtZero: true
              },
              y: {
                beginAtZero: true
              }
              }
            }
            });
          });
          });

      // Create the CPU Usage gauge chart
      console.log('Creating the CPU Usage gauge chart');
      const cpuUsageGaugeCtx = document.getElementById('cpu-usage-gauge').getContext('2d');
      window.cpuUsageGauge = new Chart(cpuUsageGaugeCtx, {
        type: 'doughnut',
        data: {
          labels: ['CPU Usage'],
          datasets: [{
            label: 'CPU Usage',
            data: [0, 100],
            backgroundColor: ['rgba(98, 252, 3, 0.2)', 'rgba(0,0,0,0.2)'],
            borderColor: ['rgba(69, 171, 7, 0.2)', 'rgba(0,0,0,0.2)'],
            borderWidth: 1,
            cutout: '70%',
            circumference: 180,
            rotation: 270
          }]
        },
        options: {
          aspectRatio: 2,
          plugins: {
            legend: {
              display: false
            },
            tooltip: {
              enabled: false
            }
          }
        }
      });
      console.log('CPU Usage Gauge:');

      // Create the Running Threads gauge chart
      const runningThreadsGaugeCtx = document.getElementById('running-threads-gauge').getContext('2d');
      window.runningThreadsGauge = new Chart(runningThreadsGaugeCtx, {
        type: 'doughnut',
        data: {
          labels: ['Running Threads'],
          datasets: [{
            label: 'Running Threads',
            data: [0, 6400],
            backgroundColor: ['rgba(98, 252, 3, 0.2)', 'rgba(0,0,0,0.2)'],
            borderColor: ['rgba(69, 171, 7, 0.2)', 'rgba(0,0,0,0.2)'],
            borderWidth: 1,
            cutout: '70%',
            circumference: 180,
            rotation: 270
          }]
        },
        options: {
          aspectRatio: 2,
          plugins: {
            legend: {
              display: false
            },
            tooltip: {
              enabled: false
            }
          }
        }
      });
      console.log('Running Threads Gauge:');
    });


    function updateLiveData(data) {
      const parsedData = JSON.parse(JSON.parse(data)); 
        const devices = parsedData.devices;
        devices.forEach((device) => {
          if (device.type === 'laptop') {
            console.log('Device:', device);

            // Extract the CPU usage and running threads metrics
            const cpuUsage = device.metric.find(m => m.name === 'cpu_usage_percent')?.value;
            const runningThreads = device.metric.find(m => m.name === 'running_threads')?.value;

            console.log('CPU Usage:', cpuUsage);
            console.log('Running Threads:', runningThreads);

            // Update the live data section
            document.getElementById('cpuUsage').textContent = cpuUsage;
            document.getElementById('runningThreads').textContent = runningThreads;

            // Update the CPU Usage gauge chart
            window.cpuUsageGauge.data.datasets[0].data = [cpuUsage, 100 - cpuUsage];
            window.cpuUsageGauge.update();

            // Update the Running Threads gauge chart
            window.runningThreadsGauge.data.datasets[0].data = [runningThreads, 6400 - runningThreads];
            window.runningThreadsGauge.update();
          }
        });
    }
  </script>
</body>
</html>